
body {
    height:100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}
input {
    color:#fff;
    background-color: #000;
}
button {
    border:none;
    background-color: transparent;
}
.hidden {
    display: none;
}